/* Nulstiller padding, margin og sætter border-box */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Standard styling af vores elementer */
html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  background-image: url("header-bg.png");
  background-size: cover;
}

h1 {
  font-size: 5.2rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}

p {
  color: rgb(255, 255, 255);
  font-size: 2.2rem;
  line-height: 1.5em;
  margin-bottom: 30px;
}

.btn {
  background-color: rgb(255, 164, 0);
  color: #fff;
  display: inline-block;
  font-size: 1.6rem;
  padding: 1em 2em;
  border-radius: 1em;
}

/* Lektionen starter her. */

.flex-container {
}

@media screen and (max-width: 700px) {
}
